<%= simple_form_for @proponent do |f| %>
  <%= f.input :nome %>

  <%= f.input :cpf, input_html: { data: { mask: "999.999.999-99" } } %>

  <%= f.input :data_nascimento, as: :string, input_html: { type: 'date' }%>

  <%= f.input :cep, label: "CEP" %>

  <%= f.input :cidade %>

  <%= f.input :estado %>

  <%= f.input :bairro %>

  <%= f.input :numero %>

  <%= f.input :logradouro %>

  <%= f.input :telefone_pessoal %>

  <%= f.input :telefone_referencias %>

  <%= f.input :salario %>


  <div class="buttons">
    <%= f.button :submit, 'Salvar', 'data-user-feedback' => 'Processando...',  class:"btn btn-outline-primary" %>
    <%= link_to "Voltar",  proponents_path,  class:"btn btn-outline-danger" %>
  </div>

<% end %>
