<%= simple_form_for @proponent do |f| %>
  <div class="row">
    <div class="col-xs-3">
      <%= f.input :nome %>
    </div>
    <div class="col-xs-3">
      <%= f.input :cpf, input_html: { data: { mask: "999.999.999-99" } } %>
    </div>
  </div>

  <%= f.input :data_nascimento %>

  <%= f.input :cep %>

  <%= f.input :cidade %>

  <%= f.input :estado %>

  <%= f.input :bairro %>

  <%= f.input :numero %>

  <%= f.input :logradouro %>

  <%= f.input :telefone_pessoal %>

  <%= f.input :telefone_referencias %>

  <%= f.input :salario %>


<div class="buttons">
  <%= f.button :submit, 'data-user-feedback' => 'Processando...' %>
</div>

<% end %>
